.social-card {
    .interact{
        max-height: min-content;
        overflow: hidden;
        img{
            max-height: inherit;    
        }
        .comments{
            max-height: inherit;
            height: 450px;
            overflow-y: scroll;
        }
    }
}

.sidebar{
    height: fit-content;
    .profiles{
        height: 75vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .option-title{
        font-size: 30px;
    }
}

.conversations{
    height: fit-content;
    .chat{
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .receive-bubble, .send-bubble{
        height: fit-content;
        color: white;        
    }
    .receive-message, .send-message {
        border-radius: 20px;
    }
} 


@media only screen and (max-width: 600px){
    .social-card {
        height: fit-content;
        .interact{
            height: fit-content;
            .comments{
                height: fit-content;
            }
            .actions .card-title{
                display: inline-block;
                margin-left: 8px;
                margin-top: 10px;
            }
        }
        
    }
}

@media only screen and (max-width: 1024px){
    .social-card {
        .interact{
            max-height: min-content;
            overflow: hidden;
            img{
                max-height: inherit;    
            }
            .comments{
                max-height: inherit;
                height: 280px;
                overflow-y: scroll;
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    .social-card {
        .interact{
            max-height: min-content;
            overflow: hidden;
            img{
                max-height: inherit;    
            }
            .comments{
                max-height: inherit;
                height: 370px;
                overflow-y: scroll;
            }
        }
    }
}

@media only screen and (max-width: 690px){
    .social-card {
        .interact{
            max-height: min-content;
            overflow: hidden;
            img{
                max-height: inherit;    
            }
            .comments{
                max-height: inherit;
                height: 200px;
                overflow-y: scroll;
            }
        }
    }
}

