.social-card {
    .interact{
        max-height: min-content;
        overflow: hidden;

        img{
            // max-height: 450px;
            height: 30vw;
        }
        .actions-panel{
            .action{
                display: block;
                cursor: pointer;
            }
        }
        .comments{
            // max-height: 450px;
            height: 30vw;
            overflow-y: scroll;
        }
    }
}

.messages-window{
    height: 92vh;
    overflow: hidden;
    .sidebar{
        height: 92vh;
        overflow: hidden;
        .profiles{
            height: 80vh;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .option-title{
            font-size: 30px;
        }
    }
    
    .conversations{
        height: 92vh;
        overflow: hidden;
        .convo-title{
            height: 10vh;
        }
        .chat{
            height: 70vh;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .receive-bubble, .send-bubble{
            height: fit-content;
            color: white; 
            margin: 0 15px;  
        }
        .receive-message, .send-message {
            border-radius: 20px;
            max-width: 50vw;
        }
        .send-input{
            height: 10vh;
        }
    } 

}


@media only screen and (max-width: 767px){
    .social-card {
        height: fit-content;
        .interact{
            height: fit-content;
            img{
                height: auto;
            }
            .comments{
                height: fit-content;
                padding: 0 5px;
            }
            
            .actions-panel{
                .action{
                    display: inline-block;
                    margin-left: 8px;  
                }
            }
        }
        
    }

    .messages-window{
        height: fit-content;
        overflow: hidden;
        .sidebar{
            height: fit-content;
            overflow: hidden;
            .profiles{
                height: 80vh;
                overflow-y: scroll;
                overflow-x: hidden;
            }
            .option-title{
                font-size: 30px;
            }
        }
        
        .conversations{
            height: 100vh;
            .convo-title{
                height: 10vh;
            }
            .chat{
                height: 80vh;
                overflow-y: scroll;
                overflow-x: hidden;
            }
            .receive-bubble, .send-bubble{
                height: fit-content;
                color: white;        
            }
            .receive-message, .send-message {
                border-radius: 20px;
            }
            .send-input{
                height: 8vh;
            }
        } 
    
    }

    .user-profile{
        text-align: center;
    }

    
}


